<app-navbar></app-navbar>
<div class="container" style="padding:0;" >
    <h4 class="form-head">Add contact</h4>
    <form action="/action_page.php" class="bordered">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" placeholder="Enter name">
        </div>
        <div class="form-group">
          <label for="pwd">Email:</label>
          <input type="email" class="form-control" id="pwd" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="phone">Phone:</label>
            <input type="text" class="form-control" id="phone" placeholder="Enter phone">
          </div>
        <button type="submit" class="btn dark btn-block">Submit</button>
      </form>
    
</div>
<app-footer></app-footer>
